/*styles for top section*/
.font-size-numbers{
    font-size: 70px;
}
.font-size-text-under-numbers{
    color: #374574;
    margin-top: -20px;
}

/*styles for vision mission section*/
.text-heading{
    font-size: 30px;
}
.text-visionMission{
    font-size: 18px;
    color: #374574;
}

/*card styles*/
.card{
    background-color: rgba(217,217,217,0.15);
    height: 330px;
    border-width: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*styles for location section*/
.bg-color{
    background-color: #191F34;
}
.img-border{
    border-radius: 10%;
}
.img-shadow{
    box-shadow: 20px -20px 10px rgba(55,69,116,1);
}