/*Navbar */
.nav-item {
    font-size: calc(0.3rem + 1.0vw);
    padding-right:calc(0.1rem + 1.5vw);
  }
.navbar-brand {
    font-size: calc(0.75rem + 1.2vw);
  }



.bg-dark-blue{
  background-color: #1D253F;
}

.bg-light-gray{
  background-color: #D9D9D9;
}

.text-dark-blue{
  color: #1D253F;
}

.topic-text{
  font-size: 50px;
  font-weight: 700;
}
.text-name{
  font-size: 20px;
  font-weight: 600;
}

.line-space-min{
  line-height: 40%;
}

/*styles for services section*/
.card{
  background-color: rgba(217,217,217,0.15);
}
.card-img-top-size{
  width: 100px;
  height: 100px;
}

